<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>
<body>
	<div id="main" class="container"></div>

	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>